@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=77jd5kg1uxy4pe&redirect_uri=http%3A%2F%2Flocalhost:5268%2FHome%2FLinkedINAuth&state=987654321&scope=r_basicprofile" class="btn btn-primary">Hureee! Login with LinkedIN</a>
</div>
